<a href="{{ .Permalink }}">
  <h2>
    {{ .Title }}
  </h2>
  
  {{ if .PublishDate }}
    <small>
      <time>
        {{ .PublishDate.Format "2006-01-02" }}
      </time>
    </small>
  {{ end }}
</a>

{{ if .Params.image }}
<br>
<a href="{{ .Permalink }}">
  <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}"/>
</a>
{{ end }}

{{ .Summary }}
